<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    </head>
    <body
    {% if color %}
    style="background-color: {{ color }}"
    {% endif %}
    >
    <div class="p-3 mb-2 bg-dark text-white">
        Logged: <i>{{ request.user }}</i>
    </div>

        {% block title %}{% endblock %}

        {% block content %}
        {% endblock %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <footer  class="p-3 mb-2 bg-dark text-white">
      <strong>Made by Matthew in 2022</strong>
        <a href="admin">Admin Panel</a>
   </footer>
    </body>
</html>
