{% extends 'budget_app/base.html' %}

{% block content %}
    <div class="container">
        <div>
            <h2>Wybierz odpowiedni budżet i oglądaj jego faktury</h2>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}<br/>
                <input type="submit" value="Search"/>
            </form>
        </div>
        <div>
            {{ suma }}
        </div>
        <div>
            <table class="table table-hover table-dark">
                <thead>
                <th scope="col">Name</th>
                <th scope="col">Contractor</th>
                <th scope="col">Category</th>
                <th scope="col">Amount</th>
                <th scope="col">Date of Issue</th>
                </thead>
                <tbody>
                {% for i in invoices %}
                    <tr>
                        <td>{{ i.id_invoice }}</td>
                        <td>{{ i.id_contractor }}</td>
                        <td>{{ i.partial_budget }}</td>
                        <td>{{ i.sum_amount }}</td>
                        <td>{{ i.date_of_issue }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if invoices.has_other_pages %}
            <div class="pagination">
    <span class="step-links">
        {% if invoices.has_previous %}
            <a href="?page={{ invoices.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}.
            </span>


        {% if invoices.has_next %}
            <a href="?page={{ invoices.next_page_number }}">next</a>
        {% endif %}
    </span>
            </div>
        {% endif %}
    </div>

{% endblock %}