{% extends 'budget_app/base.html' %}

{% block content %}
    <div class="container">
        <div>
            <h2>Wybierz odpowiednią kategorie i zobacz szczegóły fragmentu budżetu</h2>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}<br/>
                <input type="submit" value="Search"/>
            </form>
        </div>
        <div>
            <table class="table table-hover table-dark">
                <thead>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Budget</th>
                <th scope="col">Plan Amount</th>
                <th scope="col">Execution Amount</th>
                </thead>
                <tbody>
                {% for pb in partialbudget %}
                    <tr>
                        <td>{{ pb.name}}</td>
                        <td>{{ pb.id_category  }}</td>
                        <td>{{ pb.id_budget }}</td>
                        <td>{{ pb.plan_amount }}</td>
                        <td>{{ pb_sums.0 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}